<!-- users/templates/users/createAccount.html -->
{%extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}

{% block content %}
    <h2>Create Account</h2>
    <section class = "form-container">
        <div class ="form">
            <form method="post">        
                {% csrf_token %}        
                {{ form.as_p }}
        </div>
            <input type="submit" class = "submit_button" value="submit"> 
    
        </form>
    </section>
    
{% endblock %}


