<!-- templates/base.html-->
{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Cristiane Tanaka">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>Travel Stories News</h1>
                </a>
            </div>
            <div id="navbar">
            <!-- include nav here -->
            {% include './nav.html' %}
            </div>
        </header>

        {% block content %}{% endblock %}
        <footer>
            <p> Travel {Stories} News |  Cristiane Oshiro Tanaka all rights reserved</p>
        </footer>
    </body>
</html>
 
