<nav>
  <div class= "navbar" >

  {% if request.user.is_authenticated %}
  <ul>  
    <a href="{% url 'users:accountview' pk=request.user.pk %}">My Account</a>
    <a href="{% url 'news:index' %}">Home </a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'news:newStory' %}">Write a story </a>

    <br>
    <a href="#"><span class="orange">Welcome {{ user.username }}! </span></a>
    <br/>
  </ul>
  {% else %}
  <ul>
    <a href="{% url 'news:index' %}">Home </a>
    <a href="{% url 'login' %}">Login </a>
    <a href="{% url 'users:createAccount' %}">Create Account </a>
    
  </ul>  
  {% endif %}
  
  </div>
</nav>