<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}

    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4><a href="{% url 'news:authordetail' username=story.author.username %}"> {{story.author}}</a></h4>
        <div id="story-content">
            <img src="{{story.image_url}}">
            {{ story.content|linebreaks }}
        </div>
    </div>

    <form action="{% url 'news:like_post' story.id %}" method="POST">
        {% if story.id %}
           {% csrf_token %}
           <button type="submit" name="post_id" value="{{ story.id }}" class="btn-primary btn-sm">Like</button>
        {% endif %}
     </form>
     
     <div class="story-card-text">
        Current user: {{ user.id }}
        Story author: {{ story.author.id }}
        {% if request.user.is_authenticated %}
            {% if user.id == story.author.id %}
                <a href="{% url 'news:update_story' story.id %}"><small>[Edit]</small></a>
                <a href="{% url 'news:delete_story' story.id %}"><small>[Delete]</small></a>
            {% endif %}
        {% endif %}    
    </div>
     
{% endblock %}
